<html>
	<head>
		<link rel="stylesheet" href="/node_modules/weather-icons/css/weather-icons.min.css">
		<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
		<style>
			table tr.closed {
				opacity: .5;
			}
		</style>
	</head>
	<body>
		<%
			var days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
			function militaryToStandard(mil) {
				if (mil === 0) return '12 am';
				else if (mil === 12) return '12 pm';
				else {
					return (mil % 12).toString() + ' ' + {0: 'am', 1: 'pm'}[Math.floor(mil / 12)];
				}
			}

			function skyconsToWi(skycon) {
				return {
					'clear-night': 'night-clear',
					'clear-day': 'day-sunny',
					'partly-cloudy-night': 'night-partly-cloudy',
					'cloudy': 'cloudy',
					'partly-cloudy-day': 'day-cloudy'
				}[skycon];
			}
			function hoursFilter (row) {
				var hour = new Date(parseInt(row.time)*1000);
				hour = (hour.getHours() * 60 * 60 * 1000) + (hour.getMinutes() * 60 * 1000);
				var openSplit = restaurant.open.split(':');
				var closeSplit = restaurant.close.split(':');
				var open = (openSplit[0] * 60 * 60 * 1000) + (openSplit[1] * 60 * 1000);
				var close = (closeSplit[0] * 60 * 60 * 1000) + (closeSplit[1] * 60 * 1000);
				if (close < open) { //restaurant is open during midnight
					return (hour < close || hour >= open);
				} else { // restaurant closes before midnight
					return (hour >= open && hour < close);
				}
			}
		%>
		<h1><%= restaurant.name %></h1>
		<!--<%= JSON.stringify(weather.hourly) %>-->
		<table class="table table-bordered">
			<thead>
				<tr>
					<td>Time</td>
					<td>Availability</td>
					<td>Weather</td>
				</tr>
			</thead>
			<tbody>
				<% for (var row in weather.hourly.data) { %>
					<% var time = new Date(parseInt(weather.hourly.data[row].time) * 1000); %>
					<% var closed = !hoursFilter(weather.hourly.data[row]); %>
					<tr class="<%= closed ? 'closed' : 'open' %>">
						<td><%= days[time.getDay()] + ' ' + militaryToStandard(time.getHours()) %></td>
						<td><%= closed ? 'Closed' : 'Open' %></td>
						<td><i class="wi wi-<%= skyconsToWi(weather.hourly.data[row].icon) %>"></i></td>
					</tr>
				<% } %>
			</tbody>
		</table>
	</body>
</html>
